API_ID = 23413232 # get this value from my.telegram.org          
API_HASH = a69d5ef2e73995fdd0a0e3a3855cc4e3 # get this value from my.telegram.org 
BOT_TOKEN = 6502526402:AAHxtD0Sj7bEUJQ76WIrU7x0NB39YSzX2Hs # get this value from @Botfather
MONGO_DB_URI = mongodb+srv://erdembatin5:Batin123.@cluster0.mhbtyms.mongodb.net/ # get this value from mongodb.com                                                       
LOG_GROUP_ID = -1002094461117 # get this value from in your log group                   MUSIC_BOT_NAME = BatinMuzik # your music bot name                                       
STRING_SESSION = BAFcQOwAJkwUqT0LagM96HGtlFx4Jel_ROULipM91uDaDQgSh70c4V1V48NGkki9KKayyfNoAe4Vknj4licgtoXmLwSIyCHsjblELn7pqh9paKMLrqkrqiLx2xczsDSjF5EtmSF_8c-xAmOOemTQ-JELIM9XKlcBppj7P4QiaVwFFzzco3S26USuwwtBw3MtakEsjGSzeqDsJgZ1iDjrxVg8NhXdiMITgrf5BkGU8lMALLtE2plK-bLn6gWz1w9MF9vzcNZFFsfqswOBC0byTPuIoVRn_6s992vJ10sFRDtn2_wR0GvqVatFozxvINGUjpfwSSw5f1a7Z9rBrUewaQjrtZbhrgAAAAHho5d7AA # get this value from @yukkistringbot                       ~
